---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet,statistics,status,contentDetails)&id=mZqGqE0D0n4&key=youtube_api_key_123&part=snippet,statistics,status,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": [
            {
              "id": "mZqGqE0D0n4",
              "snippet": {
                "publishedAt": "2008-04-12T22:34:48Z",
                "channelId": "UCzxQk-rZGowoqMBKxGD5jSA",
                "title": "Cherry Bloom - King Of The Knife",
                "description": "The first video from the upcoming album Secret Sounds, to download in-stores April 14. Checkout http://www.cherrybloom.net",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Cherry Bloom",
                "tags": [
                  "cherry",
                  "bloom",
                  "king",
                  "of",
                  "the",
                  "knife",
                  "guitar",
                  "drum",
                  "clip",
                  "rock",
                  "alternative",
                  "tremplin",
                  "Paris-Forum"
                ],
                "categoryId": "10",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "Cherry Bloom - King Of The Knife",
                  "description": "The first video from the upcoming album Secret Sounds, to download in-stores April 14. Checkout http://www.cherrybloom.net"
                }
              },
              "contentDetails": {
                "duration": "PT2M56S",
                "dimension": "2d",
                "definition": "sd",
                "caption": "true",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              },
              "status": {
                "uploadStatus": "processed",
                "privacyStatus": "public",
                "license": "youtube",
                "embeddable": true,
                "publicStatsViewable": true,
                "madeForKids": false
              },
              "statistics": {
                "viewCount": "7980",
                "likeCount": "63",
                "dislikeCount": "2",
                "favoriteCount": "0",
                "commentCount": "5"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Dec 2020 17:52:59 GMT
recorded_with: VCR 3.0.3
