---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/642263700
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.vimeo.error+json
      Www-Authenticate:
      - Bearer error="invalid_token"
      Request-Hash:
      - c4482bb8
      X-Vimeo-Error:
      - 'true'
      X-Bapp-Server:
      - api-6676fb9bff-jwx67
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"error":"Something strange occurred. Please contact the app owners.","link":null,"developer_message":"No
        user credentials were provided.","error_code":8003}'
  recorded_at: Thu, 09 Feb 2023 21:07:49 GMT
recorded_with: VCR 3.0.3
