---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet,statistics,status,contentDetails)&id=mZqGqE0D0n4&key=youtube_api_key_123&part=snippet,statistics,status,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": [
            {
              "id": "mZqGqE0D0n4",
              "snippet": {
                "publishedAt": "2008-04-12T22:34:48Z",
                "channelId": "UCzxQk-rZGowoqMBKxGD5jSA",
                "title": "Cherry Bloom - King Of The Knife",
                "description": "The first video from the upcoming album Secret Sounds, to download in-stores April 14. Checkout http://www.cherrybloom.net",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Cherry Bloom",
                "tags": [
                  "cherry",
                  "bloom",
                  "king",
                  "of",
                  "the",
                  "knife",
                  "guitar",
                  "drum",
                  "clip",
                  "rock",
                  "alternative",
                  "tremplin",
                  "Paris-Forum"
                ],
                "categoryId": "10",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "Cherry Bloom - King Of The Knife",
                  "description": "The first video from the upcoming album Secret Sounds, to download in-stores April 14. Checkout http://www.cherrybloom.net"
                }
              },
              "contentDetails": {
                "duration": "PT2M56S",
                "dimension": "2d",
                "definition": "sd",
                "caption": "false",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              },
              "status": {
                "uploadStatus": "processed",
                "privacyStatus": "public",
                "license": "youtube",
                "embeddable": true,
                "publicStatsViewable": true,
                "madeForKids": false
              },
              "statistics": {
                "viewCount": "8292",
                "likeCount": "66",
                "favoriteCount": "0",
                "commentCount": "5"
              }
            }
          ]
        }
  recorded_at: Sun, 19 Feb 2023 18:44:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCzxQk-rZGowoqMBKxGD5jSA&key=youtube_api_key_123&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "b6PsK5mhKL_AuFRJz3h7iwEwhiE",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "AOorBbBhS-gWD_iBKIJyJ0dIqV0",
              "id": "UCzxQk-rZGowoqMBKxGD5jSA",
              "snippet": {
                "title": "Cherry Bloom",
                "description": "Alternative rock band with two guys from Paris, France.",
                "customUrl": "@cherrybloomband",
                "publishedAt": "2008-04-12T20:47:30Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AL5GRJXbalTdHiTioC9wlrBz3GukwrYp1Q6EXcBYbugs=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AL5GRJXbalTdHiTioC9wlrBz3GukwrYp1Q6EXcBYbugs=s240-c-k-c0x00ffffff-no-rj",
                    "width": 240,
                    "height": 240
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/ytc/AL5GRJXbalTdHiTioC9wlrBz3GukwrYp1Q6EXcBYbugs=s800-c-k-c0x00ffffff-no-rj",
                    "width": 800,
                    "height": 800
                  }
                },
                "localized": {
                  "title": "Cherry Bloom",
                  "description": "Alternative rock band with two guys from Paris, France."
                }
              }
            }
          ]
        }
  recorded_at: Sun, 19 Feb 2023 18:44:22 GMT
recorded_with: VCR 6.1.0
