---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,owner.url,owner.screenname,owner.avatar_60_url,thumbnail_240_url,thumbnail_60_url,likes_total
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"yIBdtbjxf0olR7RxS0jmIg-gzip"
      Last-Modified:
      - Thu, 11 Sep 2025 21:14:36 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":"x7lni3","title":"Mario Kart (R\u00e9mi Gaillard)","description":"Super
        R\u00e9mi Kart est un jeu vid\u00e9o de course d\u00e9velopp\u00e9 et \u00e9dit\u00e9
        par N''Importe Quoi TV. Sa principale originalit\u00e9 vient de sa r\u00e9alit\u00e9...<br
        \/>L''aventure continue sur www.nimportequi.com","duration":136,"created_time":1228321771,"url":"https:\/\/www.dailymotion.com\/video\/x7lni3","views_total":1582,"tags":["r\u00e9mi","remi","gaillard","imposteur","imposture","mario","bros","kart","nintendo","jeux"],"thumbnail_url":"https:\/\/s1.dmcdn.net\/v\/mj4x1empkyM54xtW","thumbnail_720_url":"https:\/\/s2.dmcdn.net\/v\/mj4x1empkyBHlhIr\/x720","owner.url":"https:\/\/www.dailymotion.com\/nqtv","owner.screenname":"R\u00e9mi
        Gaillard","owner.avatar_60_url":"https:\/\/s2.dmcdn.net\/u\/US931fP3uQFBSYqj\/60x60","thumbnail_240_url":"https:\/\/s2.dmcdn.net\/v\/mj4x1empkyDiMk2l\/x240","thumbnail_60_url":"https:\/\/s1.dmcdn.net\/v\/mj4x1empkyKJWuxG\/x60","likes_total":1768}'
  recorded_at: Wed, 14 Jan 2026 20:32:50 GMT
recorded_with: VCR 6.4.0
