---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/7848846
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.vimeo.error+json
      Www-Authenticate:
      - Bearer error="invalid_token"
      Request-Hash:
      - '12632761'
      X-Vimeo-Error:
      - 'true'
      X-Bapp-Server:
      - api-8bf794994-jfkdx
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"error":"Something strange occurred. Please contact the app owners.","link":null,"developer_message":"No
        user credentials were provided.","error_code":8003}'
  recorded_at: Thu, 26 Oct 2023 20:26:11 GMT
recorded_with: VCR 6.2.0
