---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/898029
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 6b66b015a3504793b4f541d878f46ff6
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.vimeo.error+json
      Fastly-Debug-Digest:
      - c3672039fd974d279856f1a1643b4e8d68c526f3bd160f59365e5e01b8b4b4a5
    body:
      encoding: ASCII-8BIT
      string: '{"error":"The requested video could not be found"}'
  recorded_at: Thu, 05 May 2016 01:01:51 GMT
- request:
    method: get
    uri: https://api.vimeo.com/videos/98605382
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 6b66b015a3504793b4f541d878f46ff6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Fastly-Debug-Digest:
      - e1a6082c7056329c14f1d8da1dbc41c69e2a21b9c94e74b98a8cbf1b484af80a
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/videos/98605382","name":"Deafheaven - The Pecan Tree (Live)","description":"This
        video taken live from Deafheaven live in Jakarta on May 8th 2014 at The Basement
        Cafe, Kemang Raya, Jakarta.\n\nDeafheaven is an American post-black metal
        band that formed in 2010 in San Francisco, California, United States. The
        group began as a two-piece with George Clarke and Kerry McCoy who recorded
        and self-released a demo album together. After a warm reception, Deafheaven
        recruited three new members and began to tour. Before the close of[...]
