---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/agg8LwUfxQxkn2kzTfKMNFlldxI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"gMxXHe-zinKdE9lTnzKu8vjcmDI/agg8LwUfxQxkn2kzTfKMNFlldxI\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"gMxXHe-zinKdE9lTnzKu8vjcmDI/F2mG6YyXZ_T9NjBk6OlhtoKuxPY\"",
           "id": "PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr",
           "snippet": {
            "publishedAt": "2013-08-09T05:09:51.000Z",
            "channelId": "UCMDQxm7cUx3yXkfeHa5zJIQ",
            "title": "YouTube Policy and Copyright",
            "description": "Learn more about copyright basics, flagging, and the YouTube community.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "YouTube Help",
            "defaultLanguage": "en",
            "localized": {
             "title": "YouTube Policy and Copyright",
             "description": "Learn more about copyright basics, flagging, and the YouTube community."
            }
           }
          }
         ]
        }
  recorded_at: Sun, 08 Jan 2017 21:14:59 GMT
recorded_with: VCR 3.0.3
