---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - web-145.adm.dailymotion.com:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      - application/json; charset=UTF-8
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Lb-Name:
      - lb-10
      X-Dm-Random-Number:
      - '8402543'
      Etag:
      - W/"rQeFNlJ5iMPO8gmsSDhiVw"
      Last-Modified:
      - Tue, 19 May 2015 07:03:39 GMT
      X-Dm-Page:
      - us.rest.rest_api
      Fastly-Debug-Digest:
      - 3553012804c358303689e11ec92c5f0012bb9c79e3360e85b4454ccedf666ef9
      X-Dm-Backnode-Response-Time:
      - '0'
      X-Dm-Cache-Status:
      - HIT
      X-Dm-Edge:
      - Fastly
    body:
      encoding: ASCII-8BIT
      string: '{"id":"x7lni3","title":"Mario Kart (R\u00e9mi Gaillard)","description":"Super
        R\u00e9mi Kart est un jeu vid\u00e9o de course d\u00e9velopp\u00e9 et \u00e9dit\u00e9
        par N''Importe Quoi TV. Sa principale originalit\u00e9 vient de sa r\u00e9alit\u00e9...<br
        \/>L''aventure continue sur www.nimportequi.com","duration":136,"created_time":1228321771,"url":"http:\/\/www.dailymotion.com\/video\/x7lni3_mario-kart-remi-gaillard_fun","views_total":10291834,"tags":["r\u00e9mi","remi","gaillard","imposteur","imposture","mario","bros","kart","nintendo","jeux"],"thumbnail_url":"http:\/\/s2.dmcdn.net\/BgWxI.jpg","thumbnail_720_url":"http:\/\/s2.dmcdn.net\/BgWxI\/x720-YcV.jpg","thumbnail_240_url":"http:\/\/s2.dmcdn.net\/BgWxI\/x240-b83.jpg","thumbnail_60_url":"http:\/\/s2.dmcdn.net\/BgWxI\/x60-kbf.jpg"}'
  recorded_at: Mon, 28 Dec 2015 17:43:20 GMT
recorded_with: VCR 3.0.1
