---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/136971428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '12'
      X-Ratelimit-Reset:
      - '2023-04-30T20:01:08+00:00'
      Request-Hash:
      - 92bb4794
      X-Bapp-Server:
      - api-c857cdd96-mp9p6
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/136971428","name":"Deafheaven - ''New Bermuda'' Trailer","description":"''New
        Bermuda,'' the upcoming album from Deafheaven, is available October 2nd","type":"video","link":"https://vimeo.com/136971428","player_embed_url":"https://player.vimeo.com/video/136971428?h=b646dcf635","duration":59,"width":1920,"language":"en","height":1080,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/136971428?h=b646dcf635&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=190037\"
        width=\"1920\" height=\"1080\" frameborder=\"0\" allow=\"autoplay; fullscreen;
        picture-in-picture\" allowfullscreen title=\"Deafheaven - &amp;#039;New Bermuda&amp;#039;
        Trailer\"></iframe>","badges":{"hdr":false,"live":{"streaming":false,"archived":false},"staff_pick":{"normal":false,"best_of_the_month":false,"best_of_the_year":false,"premiere":false},"vod":false,"weekend_challenge":false}},"created_time":"2015-08-21T21:37:43+00:00","modified_time":"2022-11-17T00:51:00+00:00","release_time":"2015-08-21T21:37:43+00:00","content_rating":["safe"],"content_rating_class":"safe","rating_mod_locked":false,"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/136971428/pictures/531688239","active":true,"type":"custom","base_link":"https://i.vimeocdn.com/video/531688239-17d856b48d059b4c39ec5c94ea0ddc24ccf759d49173aadd900cf0f0fe50336d-d","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/531688239-17d856b48d059b4c39ec5c94ea0ddc24ccf759d49173aadd900cf0f0fe50336d-d_100x75?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F531688239-17d856b48d059b4c39ec5c94ea0ddc24ccf759d49173aadd900cf0f0fe50336d-d_100x75&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/531688239-17d856b48d059b4c39ec5c94ea0ddc24ccf759d49173aadd900cf0f0fe50336d-d_200x150?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F5316[...]
