---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/10205379584751731?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&fields=created_time,description,from,length,picture,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Please
        read the Graph API documentation at https://developers.facebook.com/docs/graph-api"
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Unsupported get request. Please read the Graph
        API documentation at https:\/\/developers.facebook.com\/docs\/graph-api","type":"GraphMethodException","code":100,"fbtrace_id":"E2rXtuhdq0T"}}'
  recorded_at: Thu, 17 Mar 2016 18:41:40 GMT
recorded_with: VCR 3.0.1
