---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"kiOs9cZLH2FUp6r6KJ8eyq_LIOk/Cj1QC1vsAJ1KT33B9-eOX8tPo74"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"kiOs9cZLH2FUp6r6KJ8eyq_LIOk/Cj1QC1vsAJ1KT33B9-eOX8tPo74\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"kiOs9cZLH2FUp6r6KJ8eyq_LIOk/Kl26xazym-tGf3sAZ80b1j2HL1o\"",
           "id": "PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr",
           "snippet": {
            "publishedAt": "2013-08-09T05:09:51.000Z",
            "channelId": "UCMDQxm7cUx3yXkfeHa5zJIQ",
            "title": "YouTube Policy and Copyright",
            "description": "Learn more about copyright basics, flagging, and the YouTube community.",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/8b0aEoxqqC0/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/8b0aEoxqqC0/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/8b0aEoxqqC0/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/8b0aEoxqqC0/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/8b0aEoxqqC0/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "YouTube Help",
            "defaultLanguage": "en",
            "localized": {
             "title": "YouTube Policy and Copyright",
             "description": "Learn more about copyright basics, flagging, and the YouTube community."
            }
           }
          }
         ]
        }
  recorded_at: Thu, 05 May 2016 01:01:56 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCMDQxm7cUx3yXkfeHa5zJIQ&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"kiOs9cZLH2FUp6r6KJ8eyq_LIOk/iYmAelC2lDBOj3mHk8NEhY0_7ac"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
   [...]
