---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/141349194
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '2020-12-13T13:10:00+00:00'
      Request-Hash:
      - 127137e7
      X-Bapp-Server:
      - api-v6495-znlzp
      X-Vimeo-Dc:
      - ge
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/141349194","name":"Butternut Squash Ravioli","description":null,"type":"video","link":"https://vimeo.com/141349194","duration":707,"width":1280,"language":null,"height":720,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/141349194?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=190037\"
        width=\"1280\" height=\"720\" frameborder=\"0\" allow=\"autoplay; fullscreen\"
        allowfullscreen title=\"Butternut Squash Ravioli\"></iframe>","badges":{"hdr":false,"live":{"streaming":false,"archived":false},"staff_pick":{"normal":false,"best_of_the_month":false,"best_of_the_year":false,"premiere":false},"vod":false,"weekend_challenge":false}},"created_time":"2015-10-04T21:20:15+00:00","modified_time":"2020-12-12T18:49:30+00:00","release_time":"2015-10-04T21:20:15+00:00","content_rating":["unrated"],"license":null,"privacy":{"view":"anybody","embed":"public","download":true,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/141349194/pictures/538320894","active":true,"type":"custom","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/538320894_100x75.jpg?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F538320894_100x75.jpg&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/538320894_200x150.jpg?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F538320894_200x150.jpg&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":295,"height":166,"link":"https:/[...]
