---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "An access token is required to
        request this resource."
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: UTF-8
      string: '{"error":{"message":"An access token is required to request this resource.","type":"OAuthException","code":104,"fbtrace_id":"F+4VJhbRC0x"}}'
  recorded_at: Wed, 16 Mar 2016 09:31:59 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268?access_token=%7C&fields=from,length
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token signature."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token signature.","type":"OAuthException","code":190,"fbtrace_id":"G0mEqihpzzj"}}'
  recorded_at: Wed, 16 Mar 2016 09:36:18 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&fields=from,length
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"ff9487c8dac16e23d6113a5eb74c29cdcd2f7e5f"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: UTF-8
      string: '{"from":{"name":"\u30d5\u30ec\u30c3\u30c9YOLO","id":"593748813981151"},"length":9.509,"id":"1071390929550268"}'
  recorded_at: Wed, 16 Mar 2016 09:37:28 GMT
recorded_with: VCR 3.0.1
