---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "An access token is required to
        request this resource."
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: UTF-8
      string: '{"error":{"message":"An access token is required to request this resource.","type":"OAuthException","code":104,"fbtrace_id":"F+4VJhbRC0x"}}'
  recorded_at: Wed, 16 Mar 2016 09:31:59 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268?access_token=%7C&fields=from,length
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token signature."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token signature.","type":"OAuthException","code":190,"fbtrace_id":"G0mEqihpzzj"}}'
  recorded_at: Wed, 16 Mar 2016 09:36:18 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&fields=from,length
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"ff9487c8dac16e23d6113a5eb74c29cdcd2f7e5f"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: UTF-8
      string: '{"from":{"name":"\u30d5\u30ec\u30c3\u30c9YOLO","id":"593748813981151"},"length":9.509,"id":"1071390929550268"}'
  recorded_at: Wed, 16 Mar 2016 09:37:28 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&fields=description,from,length,picture,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"2a165f961c15c60b69733507c1e8ad0bc61df5e7"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"description":"If he visits you it''s to late","from":{"name":"\u30d5\u30ec\u30c3\u30c9YOLO","id":"593748813981151"},"length":9.509,"picture":"https:\/\/scontent.xx.fbcdn.net\/hvthumb-xpa1\/v\/t15.0-10\/p160x160\/12720103_1071391039550257_1997979656_n.jpg?oh=c29fe72d1d3a5be4e81071a0cd877a9a&oe=57528694","id":"1071390929550268"}'
  recorded_at: Thu, 17 Mar 2016 01:08:14 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/593748813981151/picture?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&redirect=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"702dad639a32c432f25028603f60240fca177c6e"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"is_silhouette":false,"url":"https:\/\/scontent.xx.fbcdn.net\/hprofile-ash4\/v\/t1.0-1\/p50x50\/1001098_616848995004466_2144030070_n.png?oh=234c7dab4aa9c322264aabcd625b0e59&oe=574E35F9"}}'
  recorded_at: Thu, 17 Mar 2016 01:12:47 GMT
recorded_with: VCR 3.0.1
