---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLA575C81A1FBC04CF&key=youtube_api_key_123&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "IkHKXi_4C0U0eDcOzfOQZgVCBYk",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "Pb5n02jKZqNCcaVX_qogTccTp8Q",
              "id": "PLA575C81A1FBC04CF",
              "snippet": {
                "publishedAt": "2010-01-07T22:20:45Z",
                "channelId": "UC2y5oKUfkQJDKO7cM_OIc3w",
                "title": "the century of self",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Chris Szanto",
                "localized": {
                  "title": "the century of self",
                  "description": ""
                }
              }
            }
          ]
        }
  recorded_at: Sun, 13 Dec 2020 18:31:02 GMT
recorded_with: VCR 3.0.3
