---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - 10.190.1.223:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      - application/json; charset=UTF-8
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Tg:
      - v-x7lni3
      X-Dm-Lb-Name:
      - lb-08
      X-Dm-Random-Number:
      - '8663090'
      Etag:
      - W/"rQeFNlJ5iMPO8gmsSDhiVw-gzip"
      Last-Modified:
      - Tue, 19 May 2015 07:03:39 GMT
      X-Dm-Page:
      - us.rest.rest_api
      Fastly-Debug-Digest:
      - 280830ca6679f64d21a78e03ae01c9a1f6738fa949d5b8780cf1031fb27cdb07
      X-Dm-Backnode-Response-Time:
      - '0'
      X-Dm-Cache-Status:
      - HIT
      X-Dm-Edge:
      - Fastly
    body:
      encoding: ASCII-8BIT
      string: '{"id":"x7lni3","title":"Mario Kart (R\u00e9mi Gaillard)","description":"Super
        R\u00e9mi Kart est un jeu vid\u00e9o de course d\u00e9velopp\u00e9 et \u00e9dit\u00e9
        par N''Importe Quoi TV. Sa principale originalit\u00e9 vient de sa r\u00e9alit\u00e9...<br
        \/>L''aventure continue sur www.nimportequi.com","duration":136,"created_time":1228321771,"url":"http:\/\/www.dailymotion.com\/video\/x7lni3_mario-kart-remi-gaillard_fun","views_total":10312054,"tags":["r\u00e9mi","remi","gaillard","imposteur","imposture","mario","bros","kart","nintendo","jeux"],"thumbnail_url":"http:\/\/s2.dmcdn.net\/BgWxI.jpg","thumbnail_720_url":"http:\/\/s2.dmcdn.net\/BgWxI\/x720-YcV.jpg","thumbnail_240_url":"http:\/\/s2.dmcdn.net\/BgWxI\/x240-b83.jpg","thumbnail_60_url":"http:\/\/s2.dmcdn.net\/BgWxI\/x60-kbf.jpg"}'
  recorded_at: Thu, 03 Nov 2016 01:07:28 GMT
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,thumbnail_240_url,thumbnail_60_url,owner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - 10.190.2.77:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      [...]
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,thumbnail_240_url,thumbnail_60_url,owner.screenname
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - 10.190.1.98:80
      X-Dm-Api-Method:
      - info
      Content-T[...]
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,owner.url,owner.screenname,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - 10.190.2.113:80
      X-Dm-Api-Method:
      - info
    [...]
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,owner.url,owner.screenname,owner.avatar_urlthumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - 10.190.1.43:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      - application/json; charset=UTF-8
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Lb-Name:
      - lb-09
      X-Dm-Random-Number:
      - '6823241'
      X-Dm-Backnode-Response-Time:
      - '94'
      X-Dm-Page:
      - us.rest.rest_api
      Fastly-Debug-Digest:
      - 676b7921a3f0703e0e21b32c381c132c3b33a758a0d8106effa1aea8e542f9a9
      X-Dm-Cache-Status:
      - MISS
      X-Dm-Edge:
      - Fastly
    body:
      encoding: UTF-8
      string: '{"error":{"more_info":"https:\/\/developer.dailymotion.com\/api#error-codes","code":400,"message":"Unrecognized
        value (owner.avatar_urlthumbnail_240_url), allowed values are (id, item_type,
        title, claimer, claimer.id, claimer.item_type, claimer.is_following, claimer.parent,
        claimer.status, claimer.can_change_login, claimer.username, claimer.screenname,
        claimer.fullname, claimer.website_url, claimer.donation_url, claimer.facebook_url,
        claimer.facebook_id, claimer.twitter_url, cl[...]
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,owner.url,owner.screenname,owner.avatar_url,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - 10.190.2.210:80
      X-Dm-Api[...]
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,owner.url,owner.screenname,owner,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - 10.190.1.152:80
      X-Dm-Api-Method:
      - inf[...]
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,owner.url,owner.screenname,owner.address,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - 10.190.2.228:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      - application/json; charset=UTF-8
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Lb-Name:
      - lb-08
      X-Dm-Random-Number:
      - '3775268'
      X-Dm-Backnode-Response-Time:
      - '69'
      X-Dm-Page:
      - us.rest.rest_api
      Fastly-Debug-Digest:
      - cbdc6c11a44e21f76083ac58a3641294f1f5394e5cde3d7e49971ae6ce52eda7
      X-Dm-Cache-Status:
      - MISS
      X-Dm-Edge:
      - Fastly
    body:
      encoding: UTF-8
      string: '{"error":{"more_info":"https:\/\/developer.dailymotion.com\/api#error-codes","code":403,"message":"Insufficient
        rights for the `fields'' parameter of route `GET \/video\/<id>'' with value
        `owner.address''. Required scopes: userinfo","type":"access_forbidden"}}'
  recorded_at: Tue, 08 Nov 2016 05:11:18 GMT
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,owner.url,owner.screenname,owner.avatar_25_url,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - 10.190.1.197:80
      X-Dm-Api-Metho[...]
[...]
