---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/193970014
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 6b66b015a3504793b4f541d878f46ff6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '481'
      X-Ratelimit-Reset:
      - '2017-03-27T20:39:19+00:00'
      Fastly-Debug-Digest:
      - 3a9c2fa134ca353f2e91b32fde678202db24c84367cbf962c270ad644ca6482b
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/videos/193970014","name":"Push ups with Dead Kennedys","description":"wrest-jumps
        , fist-jumps and fingers push ups","link":"https://vimeo.com/193970014","duration":25,"width":720,"language":"en","height":720,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/193970014?badge=0&autopause=0&player_id=0\"
        width=\"720\" height=\"720\" frameborder=\"0\" title=\"Push ups with Dead
        Kennedys\" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"},"created_time":"2016-12-02T00:08:16+00:00","modified_time":"2017-03-17T04:06:05+00:00","release_time":"2016-12-02T00:08:16+00:00","content_rating":["unrated"],"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":false,"comments":"anybody"},"pictures":{"uri":"/videos/193970014/pictures/607241994","active":true,"type":"custom","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/607241994_100x75.jpg?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F607241994_100x75.jpg&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/607241994_200x150.jpg?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F607241994_200x150.jpg&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":295,"height":166,"link":"https:/[...]
