---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/1921098
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 6b66b015a3504793b4f541d878f46ff6
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.vimeo.error+json
      Fastly-Debug-Digest:
      - 0f7d9a6b820d51e8546d46337cf407d94e59efed99aefd3dfc803d98b67a8081
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Unfortunately, you can''t watch password-protected videos
        with this app. Please get in touch with the app''s creator","link":null,"developer_message":"The
        app does not have the capability to provide password on protected videos","error_code":2501}'
  recorded_at: Mon, 28 Dec 2015 17:43:29 GMT
recorded_with: VCR 3.0.1
