---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLA575C81A1FBC04CF&key=youtube_api_key_123&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "Q5r9vQTUxTSFx4xeuno5OLPG6kY",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "02-ibhoojY3I3ti2Sjtk6wnm4gU",
              "id": "PLA575C81A1FBC04CF",
              "snippet": {
                "publishedAt": "2010-01-07T22:20:45.685499Z",
                "channelId": "UC2y5oKUfkQJDKO7cM_OIc3w",
                "title": "the century of self",
                "description": "",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/img/no_thumbnail.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/img/no_thumbnail.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/img/no_thumbnail.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Chris Szanto",
                "localized": {
                  "title": "the century of self",
                  "description": ""
                }
              }
            }
          ]
        }
  recorded_at: Wed, 14 Jan 2026 20:34:15 GMT
recorded_with: VCR 6.4.0
