---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLA575C81A1FBC04CF&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"uQc-MPTsstrHkQcRXL3IWLmeNsM/z_k8MbxJ5FOjmqjXQ7ESbAQI-j4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"uQc-MPTsstrHkQcRXL3IWLmeNsM/z_k8MbxJ5FOjmqjXQ7ESbAQI-j4\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"uQc-MPTsstrHkQcRXL3IWLmeNsM/i_2ge7Hsv6L3QpB2OQmIuTa6V5k\"",
           "id": "PLA575C81A1FBC04CF",
           "snippet": {
            "publishedAt": "2010-01-07T22:20:45.000Z",
            "channelId": "UC2y5oKUfkQJDKO7cM_OIc3w",
            "title": "the century of self",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "http://s.ytimg.com/yts/img/no_thumbnail-vfl4t3-4R.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Chris Szanto",
            "localized": {
             "title": "the century of self",
             "description": ""
            }
           }
          }
         ]
        }
  recorded_at: Mon, 27 Mar 2017 20:25:03 GMT
recorded_with: VCR 3.0.3
