---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/albums/1921098/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 6b66b015a3504793b4f541d878f46ff6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Fastly-Debug-Digest:
      - f3f44b84927d52d7ee3d44726e2efaf66a6b5a8fb3d41d22d033fabd73cfbf1c
    body:
      encoding: ASCII-8BIT
      string: '{"total":8,"page":1,"per_page":25,"paging":{"next":null,"previous":null,"first":"/albums/1921098/videos?page=1","last":"/albums/1921098/videos?page=1"},"data":[{"uri":"/videos/42647970","name":"Get
        To Know The New Vimeo: Uploading","description":null,"link":"https://vimeo.com/42647970","duration":104,"width":1280,"language":null,"height":720,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/42647970?title=0&byline=0&portrait=0&badge=0&autopause=0&player_id=0\"
        width=\"1280\" height=\"720\" frameborder=\"0\" title=\"Get To Know The New
        Vimeo: Uploading\" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"},"created_time":"2012-05-22T19:45:44+00:00","modified_time":"2015-12-28T07:09:59+00:00","content_rating":["safe"],"license":null,"privacy":{"view":"anybody","embed":"public","download":true,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/42647970/pictures/299773432","active":true,"type":"custom","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/299773432_100x75.jpg?r=pad"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/299773432_200x150.jpg?r=pad"},{"width":295,"height":166,"link":"https://i.vimeocdn.com/video/299773432_295x166.jpg?r=pad"},{"width":640,"height":361,"link":"https://i.vimeocdn.com/video/299773432_640x361.jpg?r=pad"},{"width":960,"height":541,"link":"https://i.vimeocdn.com/video/299773432_960x541.jpg?r=pad"},{"width":1280,"height":721,"link":"https://i.vimeocdn.com/video/299773432_1280x721.jpg?r=pad"}]},"tags":[],"stats":{"plays":120324},"metadata":{"connections":{"comments":{"uri":"/videos/42647970/comments","options":["GET","POST"],"total":21},"credits":{"uri":"/videos/42647970/credits","options":["GET","POST"],"total":1},"likes":{"uri":"/videos/42647970/likes","options":["GET"],"total":669},"pictures":{"uri":"/videos/42647970/pictures","options":["GET","POST"],"total":1},"texttracks":{"uri":"/videos/42647970/texttracks","options":["GET","POST"],"total":0},"related":{"uri":"/albums/1921098/videos?offset=1","options":["GET"]}},"interactions":{"watchlater":{"added":false,"added_time":null,"uri":"/users/22881647/watchlater/42647970"},"like":{"added":false,"added_time":null,"uri":"/users/22881647/likes/42647970"}}},"user":{"uri":"/users/152184","name":"Vimeo
        Staff","link":"https://vimeo.com/staff","location":"New York City","bio":"This
        is where you will find videos and news updates from the staff.\n\nPlease note
        that we cannot answer help messages sent to this account.\nIf you need help
        using Vimeo please see our awesome help page here, vimeo.com/help\n\nBig hugs
        and a high five,\n\nThe Vimeo Staff","created_time":"2007-01-18T16:40:11+00:00","account":"pro","pictures":{"uri":"/users/152184/pictures/9934446","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/9934446_30x30.jpg?r=pad"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/9934446_75x75.jpg?r=pad"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/9934446_100x100.jpg?r=pad"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/9934446_300x300.jpg?r=pad"}]},"websites":[],"metadata":{"connections":{"activities":{"uri":"/users/152184/activities","options":["GET"]},"albums":{"uri":"/users/152184/albums","options":["GET"],"total":75},"channels":{"uri":"/users/152184/channels","options":["GET"],"total":10},"feed":{"uri":"/users/152184/feed","options":["GET"]},"followers":{"uri":"/users/152184/followers","options":["GET"],"total":13615},"following":{"uri":"/users/152184/following","options":["GET"],"total":110},"groups":{"uri":"/users/152184/groups","options":["GET"],"total":5},"likes":{"uri":"/users/152184/likes","options":["GET"],"total":1082},"portfolios":{"uri":"/users/152184/portfolios","options":["GET"],"total":3},"videos":{"uri":"/users/152184/videos","options":["GET"],"total":98},"shared":{"uri":"/users/152184/shared/videos","options":["GET"],"total":2113},"pictures":{"uri":"/users/152184/pictures","options":["GET","POST"],"total":1}},"interactions":{"follow":{"added":false,"added_time":null,"uri":"/users/22881647/following/152184"}}},"preferences":{"videos":{"privacy":null}}},"app":null,"status":"available","embed_presets":null},{"uri":"/videos/40170418","name":"Get
        To Know The New Vimeo: Video Page","description":"For questions about how
        to use the new Vimeo please visit our help center- vimeo.com/help","link":"https://vimeo.com/40170418","duration":118,"width":1280,"language":null,"height":720,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/40170418?title=0&byline=0&portrait=0&badge=0&autopause=0&player_id=0\"
        width=\"1280\" height=\"720\" frameborder=\"0\" title=\"G[...]
