---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/136971428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 6b66b015a3504793b4f541d878f46ff6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '492'
      X-Ratelimit-Reset:
      - '2017-01-07T19:13:30+00:00'
      Fastly-Debug-Digest:
      - 0d94ad6e757fc08c8ced42c1d2a77169f2aa45dd8b863c1cd49a0e8bd236bd6b
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"/videos/136971428","name":"Deafheaven - ''New Bermuda'' Trailer","description":"''New
        Bermuda,'' the upcoming album from Deafheaven, is available October 2nd","link":"https://vimeo.com/136971428","duration":59,"width":1280,"language":"en","height":720,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/136971428?badge=0&autopause=0&player_id=0\"
        width=\"1280\" height=\"720\" frameborder=\"0\" title=\"Deafheaven - &#039;New
        Bermuda&#039; Trailer\" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"},"created_time":"2015-08-21T21:37:43+00:00","modified_time":"2017-01-06T13:14:35+00:00","release_time":"2015-08-21T21:37:43+00:00","content_rating":["safe"],"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/136971428/pictures/531688239","active":true,"type":"custom","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/531688239_100x75.jpg?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F531688239_100x75.jpg&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/531688239_200x150.jpg?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F531688239_200x150.jpg&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":295,"height":166,"link":"https:/[...]
