---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLA575C81A1FBC04CF_invalid&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/ewwRz0VbTYpp2EGbOkvZ5M_1mbo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"gMxXHe-zinKdE9lTnzKu8vjcmDI/ewwRz0VbTYpp2EGbOkvZ5M_1mbo\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Sun, 08 Jan 2017 21:14:55 GMT
recorded_with: VCR 3.0.3
