---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLA575C81A1FBC04CF_invalid&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"q5k97EMVGxODeKcDgp8gnMu79wM/ewwRz0VbTYpp2EGbOkvZ5M_1mbo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"q5k97EMVGxODeKcDgp8gnMu79wM/ewwRz0VbTYpp2EGbOkvZ5M_1mbo\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Sun, 13 Mar 2016 05:51:23 GMT
- request:
    method: get
    uri: https://www.youtube.com/playlist?p=PLA575C81A1FBC04CF_invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.youtube.com/oops
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 13 Mar 2016 05:51:28 GMT
- request:
    method: get
    uri: https://www.youtube.com/oops
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: "\n<!DOCTYPE html>\n  <html lang=\"en\" dir=\"ltr\" >\n\n<head>\n<style
        name=\"www-roboto\">@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto
        Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto
        Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto
        Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEfesZW2xOQ-xsNqO47m55DA.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto
        Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0Z0EAVxt0G0biEntp43Qt6E.ttf)format('truetype');}</style><script
        name=\"www-roboto\">if (document.fonts && document.fonts.load) {document.fonts.load(\"400
        10pt Roboto\", \"E\");document.fonts.load(\"500 10pt Roboto\", \"E\");}</script>
        \ <script>__yt_experimental_now = __spf_experimental_now = true;</script><script>var
        ytcsi = {gt: function(n) {n = (n || '') + 'data_';return ytcsi[n] || (ytcsi[n]
        = {tick: {},span: {},info: {}});},now: window.performance && window.performance.timing
        &&window.performance.now && window['__yt_experimental_now'] ? function() {return
        window.performance.timing.navigationStart + window.performance.now();} : function()
        {return (new Date()).getTime();},tick: function(l, t, [...]
