---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLA575C81A1FBC04CF_invalid&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"q5k97EMVGxODeKcDgp8gnMu79wM/ewwRz0VbTYpp2EGbOkvZ5M_1mbo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"q5k97EMVGxODeKcDgp8gnMu79wM/ewwRz0VbTYpp2EGbOkvZ5M_1mbo\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Tue, 12 Apr 2016 00:34:12 GMT
recorded_with: VCR 3.0.1
