---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&fields=from,length,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"ff9487c8dac16e23d6113a5eb74c29cdcd2f7e5f"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: UTF-8
      string: '{"from":{"name":"\u30d5\u30ec\u30c3\u30c9YOLO","id":"593748813981151"},"length":9.509,"id":"1071390929550268"}'
  recorded_at: Wed, 16 Mar 2016 09:50:01 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/1071390929550268?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&fields=description,from,length,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"df7fd873f49742f4f4d2729c71dce72bfe5b4160"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"description":"If he visits you it''s to late","from":{"name":"\u30d5\u30ec\u30c3\u30c9YOLO","id":"593748813981151"},"length":9.509,"id":"1071390929550268"}'
  recorded_at: Wed, 16 Mar 2016 09:50:53 GMT
recorded_with: VCR 3.0.1
