---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet,statistics,status,contentDetails)&id=mZqGqE0D0n4&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet,statistics,status,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"I_8xdZu766_FSaexEaDXTIfEWc0/kaCVJg8W3HC4FNhZxfFkLo4Mmx0"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "mZqGqE0D0n4",
           "snippet": {
            "publishedAt": "2008-04-12T22:25:35.000Z",
            "channelId": "UCzxQk-rZGowoqMBKxGD5jSA",
            "title": "Cherry Bloom - King Of The Knife",
            "description": "The first video from the upcoming album Secret Sounds, to download in-stores April 14. Checkout http://www.cherrybloom.net",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Cherry Bloom",
            "tags": [
             "cherry",
             "bloom",
             "king",
             "of",
             "the",
             "knife",
             "guitar",
             "drum",
             "clip",
             "rock",
             "alternative",
             "tremplin",
             "Paris-Forum"
            ],
            "categoryId": "10",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Cherry Bloom - King Of The Knife",
             "description": "The first video from the upcoming album Secret Sounds, to download in-stores April 14. Checkout http://www.cherrybloom.net"
            }
           },
           "contentDetails": {
            "duration": "PT2M56S",
            "dimension": "2d",
            "definition": "sd",
            "caption": "false",
            "licensedContent": false,
            "projection": "rectangular"
           },
           "status": {
            "uploadStatus": "processed",
            "privacyStatus": "public",
            "license": "youtube",
            "embeddable": true,
            "publicStatsViewable": true
           },
           "statistics": {
            "viewCount": "7276",
            "likeCount": "51",
            "dislikeCount": "2",
            "favoriteCount": "0",
            "commentCount": "10"
           }
          }
         ]
        }
  recorded_at: Tue, 16 Aug 2016 06:43:48 GMT
recorded_with: VCR 3.0.3
