---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"yIBdtbjxf0olR7RxS0jmIg-gzip"
      Last-Modified:
      - Thu, 11 Sep 2025 21:14:36 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":"x7lni3","title":"Mario Kart (R\u00e9mi Gaillard)","channel":"fun","owner":"x4r137"}'
  recorded_at: Wed, 14 Jan 2026 20:32:48 GMT
recorded_with: VCR 6.4.0
