---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - web-066.adm.ix7.dailymotion.com:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Key:
      - v-x7lni3
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Tg:
      - v-x7lni3
      X-Dm-Lb-Name:
      - lb-02
      X-Dm-Random-Number:
      - '8389507'
      X-Dm-Backnode-Response-Time:
      - '24'
      Etag:
      - W/"rQeFNlJ5iMPO8gmsSDhiVw-gzip"
      Last-Modified:
      - Tue, 19 May 2015 07:03:39 GMT
      X-Dm-Cache-Status:
      - MISS
      X-Dm-Edge:
      - DMParis
    body:
      encoding: ASCII-8BIT
      string: '{"id":"x7lni3","title":"Mario Kart (R\u00e9mi Gaillard)","channel":"fun","owner":"x4r137"}'
  recorded_at: Fri, 18 Sep 2020 01:27:17 GMT
recorded_with: VCR 3.0.3
