---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"rQeFNlJ5iMPO8gmsSDhiVw-gzip"
      Last-Modified:
      - Tue, 19 May 2015 07:03:39 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":"x7lni3","title":"Mario Kart (R\u00e9mi Gaillard)","channel":"fun","owner":"x4r137"}'
  recorded_at: Fri, 27 Oct 2023 15:20:13 GMT
recorded_with: VCR 6.1.0
