---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - web-496.adm.dc3.dailymotion.com:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      - application/json; charset=UTF-8
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Tg:
      - v-x7lni3
      X-Dm-Lb-Name:
      - lb-09
      X-Dm-Random-Number:
      - '5880116'
      X-Dm-Backnode-Response-Time:
      - '22'
      Etag:
      - W/"rQeFNlJ5iMPO8gmsSDhiVw-gzip"
      Last-Modified:
      - Tue, 19 May 2015 07:03:39 GMT
      X-Dm-Page:
      - us.rest.rest_api
      Fastly-Debug-Digest:
      - a1260d687a65fe813c0737da36a0e6aefc19d36751c69fa71a074a472d8420fe
      X-Dm-Cache-Status:
      - MISS
      X-Dm-Edge:
      - Fastly
    body:
      encoding: ASCII-8BIT
      string: '{"id":"x7lni3","title":"Mario Kart (R\u00e9mi Gaillard)","channel":"fun","owner":"x4r137"}'
  recorded_at: Sun, 11 Dec 2016 19:13:42 GMT
recorded_with: VCR 3.0.3
