---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=items&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet&playlistId=PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Y3xTLFF3RLtHXX85JBgzzgp2Enw/0-dRuoFefu59MRZrJ9OQJh1wEio"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/K-gvAWZR6aZKd0do3Xn3MtdmfGM\"",
           "id": "PLa0L99Uc4VSCXhwLjoLzxv8xxws5JLbfTP3YqbDI0DxQ",
           "snippet": {
            "publishedAt": "2015-04-22T21:47:21.000Z",
            "channelId": "UCMDQxm7cUx3yXkfeHa5zJIQ",
            "title": "Account termination on YouTube",
            "description": "Learn more about account termination in the YouTube Help Center: https://support.google.com/youtube/answer/2802168",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "YouTube Help",
            "playlistId": "PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr",
            "position": 0,
            "resourceId": {
             "kind": "youtube#video",
             "videoId": "Oi67QjrXy2w"
            }
           }
          },
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/9EB6BjQI7LVTh8ZS5KAmyhTIlTI\"",
           "id": "PLa0L99Uc4VSCXhwLjoLzxvw2SdI2zb8sl0kYOz9dDFO0",
           "snippet": {
            "publishedAt": "2015-04-22T21:48:43.000Z",
            "channelId": "UCMDQxm7cUx3yXkfeHa5zJIQ",
            "title": "YouTube Copyright Basics (Global)",
            "description": "",
            "thumbnai[...]
