---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=items&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet&playlistId=PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/s7FS5uYdDX7JhzhiqSxBxUkk514"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"gMxXHe-zinKdE9lTnzKu8vjcmDI/CckQjG1ENeGrjHXXbCkMyw56N6Y\"",
           "id": "UEw5aFcxdVM2SFVmdExkSEk2UklzYWYtaVhUbTA5cW5Fci41MzJCQjBCNDIyRkJDN0VD",
           "snippet": {
            "publishedAt": "2015-04-22T21:47:21.000Z",
            "channelId": "UCMDQxm7cUx3yXkfeHa5zJIQ",
            "title": "Account termination on YouTube",
            "description": "Learn more about account termination in the YouTube Help Center: https://support.google.com/youtube/answer/2802168",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/Oi67QjrXy2w/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "YouTube Help",
            "playlistId": "PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr",
            "position": 0,
            "resourceId": {
             "kind": "youtube#video",
             "videoId": "Oi67QjrXy2w"
            }
           }
          },
          {
           "kind": "youtube#playlistItem",
           "etag": "\"gMxXHe-zinKdE9lTnzKu8vjcmDI/7uNlnnzetzxOAgbocO_UEYRKP-8\"",
           "id": "UEw5aFcxdVM2SFVmdExkSEk2UklzYWYtaVhUbTA5cW5Fci5DQUNERDQ2NkIzRUQxNTY1",
           "snippet": {
            "publishedAt": "2015-04-22T21:48:43.000Z",
            "channelId": "UCMDQxm7cUx3yXkfeHa5zJIQ",
            "title": "YouTube Copyright Basics",
            "description": "",
       [...]
