---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=items&key=youtube_api_key_123&maxResults=50&part=snippet&playlistId=PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Wed, 15 Feb 2023 00:47:01 GMT
recorded_with: VCR 3.0.3
