---
http_interactions:
- request:
    method: get
    uri: http://fast.wistia.com/oembed?url=http://home.wistia.com/medias/pxonqr42is
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Fastly-Debug-Digest:
      - 05317f3b6c4b18f379c581f5f2e8500ed43d4651f4f2ac28f3a5fc0797f7ad71
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0","type":"video","html":"\u003ciframe src=\"//fast.wistia.net/embed/iframe/pxonqr42is\"
        allowtransparency=\"true\" frameborder=\"0\" scrolling=\"no\" class=\"wistia_embed\"
        name=\"wistia_embed\" allowfullscreen mozallowfullscreen webkitallowfullscreen
        oallowfullscreen msallowfullscreen width=\"960\" height=\"540\"\u003e\u003c/iframe\u003e\n\u003cscript
        src=\"//fast.wistia.net/assets/external/E-v1.js\" async\u003e\u003c/script\u003e","width":960,"height":540,"provider_name":"Wistia,
        Inc.","provider_url":"https://wistia.com","title":"Understanding Analytics","thumbnail_url":"https://embed-ssl.wistia.com/deliveries/0fccbdc60ade35723f79f1c002bc61b135b610fa.jpg?image_crop_resized=960x540","thumbnail_width":960,"thumbnail_height":540,"duration":250.0}'
  recorded_at: Thu, 03 Nov 2016 01:09:43 GMT
recorded_with: VCR 3.0.1
