---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/195408520793494?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&fields=created_time,description,from,length,picture,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"0862e89db7d647e408fc44a4d3df272e9dc4db7e"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"created_time":"2015-10-30T16:30:01+0000","from":{"name":"Republique
        D''Eg\u00fces","id":"171086066559073"},"length":26.459,"picture":"https:\/\/scontent.xx.fbcdn.net\/hvthumb-xat1\/v\/t15.0-10\/p128x128\/12105557_195409484126731_875852838_n.jpg?oh=e2fa2fe0bfc77dab0177723c7d5ea99a&oe=574DDCB4","title":"Hank
        listens to Bolivarian Music","id":"195408520793494"}'
  recorded_at: Sat, 19 Mar 2016 05:15:54 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/171086066559073/picture?access_token=1526814430954328%7C1bd1051b2e630584a5fa01a8ebf21cad&redirect=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"1302987cce20c217d4a585a5a08e25ff2c1cbe49"'
      Facebook-Api-Version:
      - v2.5
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"is_silhouette":false,"url":"https:\/\/scontent.xx.fbcdn.net\/hprofile-xap1\/v\/l\/t1.0-1\/c0.0.50.50\/p50x50\/734946_251600755174270_4852164893761838478_n.jpg?oh=33e887cf208eebbd2af66ec04d413117&oe=578619F3"}}'
  recorded_at: Sat, 19 Mar 2016 05:15:54 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.5/195408520793494?access_token=%7C&fields=created_time,description,from,length,picture,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token signature."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token signature.","type":"OAuthException","code":190,"fbtrace_id":"DEJQIOVECkn"}}'
  recorded_at: Sun, 20 Mar 2016 06:24:56 GMT
recorded_with: VCR 3.0.1
