---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr&key=youtube_api_key_123&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistListResponse",
          "etag": "Lhu7Yb-FnqA_Lgnvh7voheGMJR4",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#playlist",
              "etag": "oJ_SZduyFDBmOtZabEKVkpJHohI",
              "id": "PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr",
              "snippet": {
                "publishedAt": "2013-08-09T05:09:51Z",
                "channelId": "UCMDQxm7cUx3yXkfeHa5zJIQ",
                "title": "YouTube Policy and Copyright",
                "description": "Learn more about copyright basics, flagging, and the YouTube community.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/9g2U12SsRns/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/9g2U12SsRns/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/9g2U12SsRns/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/9g2U12SsRns/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/9g2U12SsRns/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "TeamYouTube [Help]",
                "defaultLanguage": "en",
                "localized": {
                  "title": "YouTube Policy and Copyright",
                  "description": "Learn more about copyright basics, flagging, and the YouTube community."
                }
              }
            }
          ]
        }
  recorded_at: Tue, 27 Oct 2020 18:42:16 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PL9hW1uS6HUftLdHI6RIsaf-iXTm09qnEr&key=%3Cyoutube_api_key_123%3E&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Tue, 27 Oct 2020 18:44:52 GMT
recorded_with: VCR 3.0.3
