---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet,statistics,status,contentDetails)&id=mZqGqE0D0n4&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet,statistics,status,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"q5k97EMVGxODeKcDgp8gnMu79wM/vao0YjtB46pqTVSmpwfRsGAkn_g"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "mZqGqE0D0n4",
           "snippet": {
            "publishedAt": "2008-04-12T22:25:35.000Z",
            "channelId": "UCzxQk-rZGowoqMBKxGD5jSA",
            "title": "Cherry Bloom - King Of The Knife",
            "description": "The first video from the upcoming album Secret Sounds, to download in-stores April 14. Checkout http://www.cherrybloom.net",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/mZqGqE0D0n4/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Cherry Bloom",
            "tags": [
             "cherry",
             "bloom",
             "king",
             "of",
             "the",
             "knife",
             "guitar",
             "drum",
             "clip",
             "rock",
             "alternative",
             "tremplin",
             "Paris-Forum"
            ],
            "categoryId": "10",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Cherry Bloom - King Of The Knife",
             "description": "The first video from the upcoming album Secret Sounds, to download in-stores April 14. Checkout http://www.cherrybloom.net"
            }
           },
           "contentDetails": {
            "duration": "PT2M56S",
            "dimension": "2d",
            "definition": "sd",
            "caption": "false",
            "licensedContent": false
           },
           "status": {
            "uploadStatus": "processed",
            "privacyStatus": "public",
            "license": "youtube",
            "embeddable": true,
            "publicStatsViewable": true
           },
           "statistics": {
            "viewCount": "7196",
            "likeCount": "51",
            "dislikeCount": "2",
            "favoriteCount": "0",
            "commentCount": "8"
           }
          }
         ]
        }
  recorded_at: Tue, 12 Apr 2016 00:27:24 GMT
- request:
    method: get
    uri: https://www.youtube.com/watch?v=mZqGqE0D0n4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"><head><style
        name=\"www-roboto\">@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto
        Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto
        Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto
        Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0Z0EAVxt0G0biEntp43Qt6E.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto
        Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEfesZW2xOQ-xsNqO47m55DA.ttf)format('truetype');}</style><script
        name=\"www-roboto\">if (document.fonts && document.fonts.load) {document.fonts.load(\"400
        10pt Roboto\", \"E\");document.fonts.load(\"500 10pt Roboto\", \"E\");}</script><script>__yt_experimental_now
        = __spf_experimental_now = true;</script><script>var ytcsi = {gt: function(n)
        {n = (n || '') + 'data_';return ytcsi[n] || (ytcsi[n] = {tick: {},span: {},info:
        {}});},now: window.performance && window.performance.timing &&window.performance.now
        && window['__yt_experimental_now'] ? function() {return window.performance.timing.navigationStart
        + window.performance.now();} : function() {return (new Date()).getTime();},tick:
        functio[...]
