---
http_interactions:
- request:
    method: get
    uri: http://fast.wistia.com/oembed?url=http://home.wistia.com/medias/rs1me54mpw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Fastly-Debug-Digest:
      - 0cb2dce10e342c18e932e8428741b0b03e8678383f77a7e425ccd2c0cd233ec0
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0","type":"video","html":"<iframe src=\"//fast.wistia.net/embed/iframe/rs1me54mpw\"
        allowtransparency=\"true\" frameborder=\"0\" scrolling=\"no\" class=\"wistia_embed\"
        name=\"wistia_embed\" allowfullscreen mozallowfullscreen webkitallowfullscreen
        oallowfullscreen msallowfullscreen width=\"960\" height=\"540\"></iframe>\n<script
        src=\"//fast.wistia.net/assets/external/E-v1.js\" async></script>","width":960,"height":540,"provider_name":"Wistia,
        Inc.","provider_url":"http://wistia.com","title":"Lance Kalish - Yes To Group","thumbnail_url":"https://embed-ssl.wistia.com/deliveries/dc005e6a7583a25c4b7c284c08afc42fb67fdb95.jpg?image_crop_resized=960x540","thumbnail_width":960,"thumbnail_height":540,"duration":1214.83}'
  recorded_at: Tue, 12 Apr 2016 00:34:10 GMT
recorded_with: VCR 3.0.1
