---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x7lni3?fields=id,title,description,duration,created_time,url,views_total,tags,thumbnail_url,thumbnail_720_url,owner.url,owner.screenname,owner.avatar_60_url,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - web-520.adm.dc3.dailymotion.com:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      - application/json; charset=UTF-8
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Tg:
      - v-x7lni3
      X-Dm-Lb-Name:
      - lb-08
      X-Dm-Random-Number:
      - '1238188'
      Etag:
      - W/"rQeFNlJ5iMPO8gmsSDhiVw-gzip"
      Last-Modified:
      - Tue, 19 May 2015 07:03:39 GMT
      X-Dm-Page:
      - us.rest.rest_api
      Fastly-Debug-Digest:
      - 2236e0b1525f3241d04a3a531508c8a4d9999d65c6c6ba13ee5490c0a21c6a5e
      X-Dm-Backnode-Response-Time:
      - '0'
      X-Dm-Cache-Status:
      - HIT
      X-Dm-Edge:
      - Fastly
    body:
      encoding: ASCII-8BIT
      string: '{"id":"x7lni3","title":"Mario Kart (R\u00e9mi Gaillard)","description":"Super
        R\u00e9mi Kart est un jeu vid\u00e9o de course d\u00e9velopp\u00e9 et \u00e9dit\u00e9
        par N''Importe Quoi TV. Sa principale originalit\u00e9 vient de sa r\u00e9alit\u00e9...<br
        \/>L''aventure continue sur www.nimportequi.com","duration":136,"created_time":1228321771,"url":"http:\/\/www.dailymotion.com\/video\/x7lni3_mario-kart-remi-gaillard_fun","views_total":10318565,"tags":["r\u00e9mi","remi","gaillard","imposteur","imposture","mario","bros","kart","nintendo","jeux"],"thumbnail_url":"http:\/\/s2.dmcdn.net\/BgWxI.jpg","thumbnail_720_url":"http:\/\/s2.dmcdn.net\/BgWxI\/x720-YcV.jpg","owner.url":"http:\/\/www.dailymotion.com\/nqtv","owner.screenname":"R\u00e9mi
        Gaillard","owner.avatar_60_url":"http:\/\/s2.dmcdn.net\/HN6TP\/60x60-lEL.jpg","thumbnail_240_url":"http:\/\/s2.dmcdn.net\/BgWxI\/x240-b83.jpg","thumbnail_60_url":"http:\/\/s2.dmcdn.net\/BgWxI\/x60-kbf.jpg"}'
  recorded_at: Mon, 27 Mar 2017 21:00:49 GMT
recorded_with: VCR 3.0.3
