---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/136971428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '2020-12-13T13:10:00+00:00'
      Request-Hash:
      - 10bc954f
      X-Bapp-Server:
      - api-v6495-rt28l
      X-Vimeo-Dc:
      - ge
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/136971428","name":"Deafheaven - ''New Bermuda'' Trailer","description":"''New
        Bermuda,'' the upcoming album from Deafheaven, is available October 2nd","type":"video","link":"https://vimeo.com/136971428","duration":59,"width":1280,"language":"en","height":720,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/136971428?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=190037\"
        width=\"1280\" height=\"720\" frameborder=\"0\" allow=\"autoplay; fullscreen\"
        allowfullscreen title=\"Deafheaven - &amp;#039;New Bermuda&amp;#039; Trailer\"></iframe>","badges":{"hdr":false,"live":{"streaming":false,"archived":false},"staff_pick":{"normal":false,"best_of_the_month":false,"best_of_the_year":false,"premiere":false},"vod":false,"weekend_challenge":false}},"created_time":"2015-08-21T21:37:43+00:00","modified_time":"2020-12-10T23:09:00+00:00","release_time":"2015-08-21T21:37:43+00:00","content_rating":["safe"],"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/136971428/pictures/531688239","active":true,"type":"custom","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/531688239_100x75.jpg?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F531688239_100x75.jpg&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/531688239_200x150.jpg?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F531688239_200x150.jpg&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":295,"height":166,"link":"https:/[...]
