---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/136971428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Banned-Ip:
      - 139.47.41.140
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "error": "You have been banned.",
            "link": null,
            "developer_message": "You have been banned. Contact Vimeo support at https://vimeo.com/help/contact and provide your public IP, 139.47.41.140, and code 'MW-BL' for more information.",
            "error_code": 3500
        }
  recorded_at: Sun, 19 Feb 2023 18:43:59 GMT
recorded_with: VCR 6.1.0
