---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/642263700
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '2023-02-21T20:12:32+00:00'
      Request-Hash:
      - fe503add
      X-Bapp-Server:
      - api-5468cbdff8-3985-0-canary-dxxpc
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/642263700","name":"Janek Murd - AVA","description":"AVA
        is an experimental 3D animated music video for Janek Murd - an Estonian musician
        and composer.\n\nAva explores the constant cycle of life - be it a breath
        of air, passing of a day, a full turn of the year, or a journey from one''s
        birth to death. \n\nAVA (meaning ''opening'' or ''to open'' in Estonian) opens
        with flashes in the darkness and then follows different ideas of what one
        does with the suddenly gifted freedom and curiosity of finding out, where
        it will all end up when the cycle comes to a close.\n\nAVA is the first single
        from Janek Murd''s new album ''VIIV''. You can listen and support the artist
        on Bandcamp: https://janekmurd.bandcamp.com/album/viiv\n\n\n\nFor stills and
        additional content, visit our Behance page: https://www.behance.net/gallery/130194673/Janek-Murd-AVA\n\nMusic
        by Janek Murd\nDesigned, Directed & Animated by Joosep Volk & Maido Hollo\n\nTOLM\n2021","type":"video","link":"https://vimeo.com/642263700","player_embed_url":"https://player.vimeo.com/video/642263700?h=5bb50fc9fb","duration":200,"width":3840,"language":null,"height":2160,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/642263700?h=5bb50fc9fb&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=190037\"
        width=\"3840\" height=\"2160\" frameborder=\"0\" allow=\"autoplay; fullscreen;
        picture-in-picture\" allowfullscreen title=\"Janek Murd - AVA\"></iframe>","badges":{"hdr":false,"live":{"streaming":false,"archived":false},"staff_pick":{"normal":true,"best_of_the_month":false,"best_of_the_year":false,"premiere":false},"vod":false,"weekend_challenge":false}},"created_time":"2021-11-04T11:03:29+00:00","modified_time":"2023-02-21T19:51:39+00:00","release_time":"2021-11-04T11:03:29+00:00","content_rating":["safe"],"content_rating_class":"safe","rating_mod_locked":false,"license":null,"privacy":{"view":"anybody","embed":"public","download":false,"add":true,"comments":"anybody"},"pictures":{"uri":"/videos/642263700/pictures/1291917478","active":true,"type":"custom","base_link":"https://i.vimeocdn.com/video/1291917478-2522170a8cfe68dc920e5031deac9bc5ff4d6699c96341fbe","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/1291917478-2522170a8cfe68dc920e5031deac9bc5ff4d6699c96341fbe_100x75?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1291917478-2522170a8cfe68dc920e5031deac9bc5ff4d6699c96341fbe_100x75&src1=http%3A%2F%2Ff.vimeocdn.com%2Fp%2Fimages%2Fcrawler_play.png"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/1291917478-2522170a8cfe68dc920e5031deac9bc5ff4d6699c96341fbe_200x150?r=pad","link_with_play_button":"https://i.vimeocdn.com/filter/overlay?src0=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1291917478-2522170a8cfe68dc920e5031d[...]
