---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet,statistics,contentDetails)&id=ffClNhwx0KU&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet,statistics,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"q5k97EMVGxODeKcDgp8gnMu79wM/T5BIvHZZAX8x_p3U-hpQrkww7fo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "ffClNhwx0KU",
           "snippet": {
            "publishedAt": "2013-02-22T02:35:45.000Z",
            "channelId": "UCfi6k74M1v5oJtEoOf3634w",
            "title": "Addicted to Plastic",
            "description": "Addicted to Plastic",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/ffClNhwx0KU/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/ffClNhwx0KU/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/ffClNhwx0KU/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Theglobalistchan",
            "tags": [
             "polution",
             "plastic"
            ],
            "categoryId": "28",
            "liveBroadcastContent": "none",
            "localized": {
             "title": "Addicted to Plastic",
             "description": "Addicted to Plastic"
            }
           },
           "contentDetails": {
            "duration": "PT1H25M4S",
            "dimension": "2d",
            "definition": "sd",
            "caption": "false",
            "licensedContent": false
           },
           "statistics": {
            "viewCount": "4894",
            "likeCount": "39",
            "dislikeCount": "0",
            "favoriteCount": "0",
            "commentCount": "52"
           }
          }
         ]
        }
  recorded_at: Sun, 13 Mar 2016 05:11:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet,statistics,status,contentDetails)&id=ffClNhwx0KU&key=AIzaSyA6PYwSr1EnLFUFy1cZDk3Ifb0rxeJaeZ0&part=snippet,statistics,status,contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"q5k97EMVGxODeKcDgp8gnMu79wM/GkxV72YunDyPPz7cBZhI7NNVDdA"'
      Content-Type:
      - application/[...]
