---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/videos/136971428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer vimeo_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.vimeo.error+json
      Www-Authenticate:
      - Bearer error="invalid_token"
      Request-Hash:
      - 1b27f6c7
      X-Vimeo-Error:
      - 'true'
      X-Bapp-Server:
      - api-9fd4bd9b5-ft5x8
      X-Backend-Server:
      - api-k8s
    body:
      encoding: UTF-8
      string: '{"error":"Something strange occurred. Please contact the app owners.","link":null,"developer_message":"No
        user credentials were provided.","error_code":8003}'
  recorded_at: Wed, 15 Feb 2023 00:46:55 GMT
recorded_with: VCR 3.0.3
