---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/inValIdiD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Dm-Backnode:
      - web-115.adm.dailymotion.com:80
      Content-Type:
      - application/json; charset=UTF-8
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Lb-Name:
      - lb-08
      X-Dm-Random-Number:
      - '5037760'
      X-Dm-Backnode-Response-Time:
      - '37'
      X-Dm-Page:
      - us.rest.rest_api
      Fastly-Debug-Digest:
      - 1f140405cf79803f1e28a389edd8ca212ce1e285b54a58fb8a17474780cac6a2
      X-Dm-Cache-Status:
      - MISS
      X-Dm-Edge:
      - Fastly
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"more_info":"https:\/\/developer.dailymotion.com\/api#error-codes","code":404,"message":"Can''t
        find object video for `id'' parameter","type":"not_found","error_data":{"reason":"object_not_found"}}}'
  recorded_at: Mon, 28 Dec 2015 17:43:18 GMT
recorded_with: VCR 3.0.1
