---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/inValIdiD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - web-118.adm.ix7.dailymotion.com:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      - application/json; charset=UTF-8
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Lb-Name:
      - lb-03
      X-Dm-Random-Number:
      - '8780791'
      X-Dm-Backnode-Response-Time:
      - '31'
      X-Dm-Cache-Status:
      - MISS
      X-Dm-Edge:
      - DMParis
    body:
      encoding: UTF-8
      string: '{"error":{"more_info":"https:\/\/developer.dailymotion.com\/api#error-codes","code":404,"message":"Can''t
        find object video for `id'' parameter","type":"not_found","error_data":{"reason":"object_not_found","object_type":"video","object_id":"inValIdiD","param":"id"}}}'
  recorded_at: Tue, 27 Oct 2020 10:44:15 GMT
recorded_with: VCR 3.0.3
