---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/inValIdiD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Dm-Api-Object:
      - video
      X-Dm-Backnode:
      - web-501.adm.dc3.dailymotion.com:80
      X-Dm-Api-Method:
      - info
      Content-Type:
      - application/json; charset=UTF-8
      X-Dm-Lb-Ip:
      - 195.8.215.129
      X-Dm-Lb-Name:
      - lb-09
      X-Dm-Random-Number:
      - '2031762'
      X-Dm-Backnode-Response-Time:
      - '25'
      X-Dm-Page:
      - us.rest.rest_api
      Fastly-Debug-Digest:
      - d02f485cb1cc8d04e4842ee96ea037a8730d6692b5c01d60c144465f63874988
      X-Dm-Cache-Status:
      - MISS
      X-Dm-Edge:
      - Fastly
    body:
      encoding: UTF-8
      string: '{"error":{"more_info":"https:\/\/developer.dailymotion.com\/api#error-codes","code":404,"message":"Can''t
        find object video for `id'' parameter","type":"not_found","error_data":{"reason":"object_not_found"}}}'
  recorded_at: Fri, 30 Dec 2016 06:18:03 GMT
recorded_with: VCR 3.0.3
