---
http_interactions:
- request:
    method: get
    uri: http://fast.wistia.com/oembed?url=http://home.wistia.com/medias/pxonqr42is
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef3c7225d67e05c6621139b3bde94fe0"
      X-Ecma-V:
      - es5
      X-Browser:
      - unknown
      X-Browser-Version:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0","type":"video","html":"\u003ciframe src=\"https://fast.wistia.net/embed/iframe/pxonqr42is\"
        title=\"Understanding Analytics Video\" allow=\"autoplay; fullscreen\" allowtransparency=\"true\"
        frameborder=\"0\" scrolling=\"no\" class=\"wistia_embed\" name=\"wistia_embed\"
        allowfullscreen msallowfullscreen width=\"960\" height=\"540\"\u003e\u003c/iframe\u003e\n\u003cscript
        src=\"https://fast.wistia.net/assets/external/E-v1.js\" async\u003e\u003c/script\u003e","width":960,"height":540,"provider_name":"Wistia,
        Inc.","provider_url":"https://wistia.com","title":"Understanding Analytics","thumbnail_url":"https://embed-ssl.wistia.com/deliveries/0fccbdc60ade35723f79f1c002bc61b135b610fa.jpg?image_crop_resized=960x540","thumbnail_width":960,"thumbnail_height":540,"player_color":"63d0db","duration":250.428}'
  recorded_at: Sun, 13 Dec 2020 13:09:14 GMT
recorded_with: VCR 3.0.3
