---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=items&key=%3Cyoutube_api_key_123%3E&maxResults=50&part=snippet&playlistId=PL0E8117603D70E10A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Tue, 27 Oct 2020 18:44:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=items&key=youtube_api_key_123&maxResults=50&part=snippet&playlistId=PL0E8117603D70E10A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": []
        }
  recorded_at: Sun, 13 Dec 2020 17:58:44 GMT
recorded_with: VCR 3.0.3
